body {
    content: "";
    min-height: 100%;
    background: url("../images/fleet-art.jpg") no-repeat center center fixed;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: -2;
}

#body-overlay {
    content: "";
    min-height: 100%;
    background-color: #000;
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.75;
    z-index: -1;
}

